body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    direction: rtl;
}

.beehive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  /*  background: 
        linear-gradient(to right, darkred 187px, transparent 0px),
        linear-gradient(to left, darkred 187px, transparent 0px),
        linear-gradient(to bottom, darkgreen 195px, transparent 0px),
        linear-gradient(to top, darkgreen 195px, transparent 0px),
        linear-gradient(-135deg, darkgreen 50%, darkred 50%) left top / 180px 180px no-repeat,
        linear-gradient(135deg, darkgreen 50%, darkred 50%) right top / 180px 180px no-repeat,
        linear-gradient(-45deg, darkgreen 50%, darkred 50%) left bottom / 180px 180px no-repeat,
        linear-gradient(45deg, darkgreen 50%, darkred 50%) right bottom / 180px 180px no-repeat;
    padding: 170px; */

background: 
        /* Red side bars */
        linear-gradient(to right, #ff813c 231px, transparent 0) left / 700px 43%,
        linear-gradient(to left, #ff813c 275px, transparent 0) right / 700px 43%,
        
        /* Green top/bottom bars */
        linear-gradient(to bottom, #3db61b 210px, transparent 0) top / 36% 700px,
        linear-gradient(to top, #3db61b 210px, transparent 0) bottom / 36% 700px,
        
        /* Diagonal corners */
        linear-gradient(-135deg, #3db61b 50%, #ff813c 50%) left top / 286.5px 210px,
        linear-gradient(135deg, #3db61b 50%, #ff813c 50%) right top / 286.5px 210px,
        linear-gradient(-45deg, #3db61b 50%, #ff813c 50%) left bottom / 293px 250px,
        linear-gradient(45deg, #3db61b 50%, #ff813c 50%) right bottom / 293px 250px;
       
    background-repeat: no-repeat;
    padding: 190px;

}

.row {
    display: flex;
    justify-content: center;
    margin-top: -17px;
}

.row-moved {
    margin-right: 85px;
}

.hex {
    position: relative;
    width: 83px;
    height: 92px; 
    margin:-2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    
    cursor: pointer;
    overflow: visible;

}

.hex::before {
    content: '';
    position: absolute;
    
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: #6b3b9f;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 1;
}

.hex::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 2;
}

.hex span {
    position: relative;
    z-index: 3;
    color: #6b3b9f;
}


.hex.yellow::after { background-color: #FFAE1A; }
.hex.green::after { background-color: darkgreen; }
.hex.orange::after { background-color: darkred; }


.hex.green span,
.hex.orange span {
    color: transparent;
